body{
    background-color: #ecf4f3;
   
}

header{
    background-image: url("ian-schneider-TamMbr4okv4-unsplash.jpg");
    text-align: center;
}

h2{
    background-color: #68b0ab;
}

footer {
    text-align: center;
    padding: 3px;
   background-color:#006a71;
    color: white;
    display: block;
}

p{
    font-style: helvetica;
}


